<!doctype html>
<html>
  <meta charset="UTF-8" />
  <head>
    <title><!-- (param)title --></title>
  </head>
  <style>
    @font-face {
      font-family: 'Font';
      src: url('fonts/Jackwrite.ttf');
    }
    body {
      background-color: #f4e2ca;
      color: #1a0801;
    }
    a.link {
      text-decoration: none !important;
      color: #1a0801;
      font-family: Font;
      font-weight: bold;
      font-size: 19px;
      border-radius: 8px;
    }
    <!-- (ref)Color -->
  </style>
  <body>
    <!-- (param)body -->
  </body>
</html>
