<!doctype html>
<html>
  <head>
    <title><!-- (param)title --></title>
  </head>
  <style>
        body {
          background-color: #f4e2ca;
          color: #1a0801;
        }
        .def,
        .link,
        a {
          text-decoration: none;
          color: #1a0801;
          font-family: monospace;
          font-weight: bold;
          font-size: 16px;
          border-radius: 5px;
        }
    <!-- (optional)(ref)DefColor -->
  </style>
  <body>
    <!-- (param)body -->
  </body>
</html>
